<template>
    <div class="app-container">
        <el-form ref="dataForm" :rules="rules" :model="formData" label-width="80px">
            <el-form-item label="分类" prop="cate_id">
                <el-input v-model="formData.name" placeholder="请输入标题"></el-input>
            </el-form-item>
        </el-form>
        <sticky :z-index="1000" direction="bottom">
            <el-card shadow="always" :body-style="{padding:'15px','text-align':'center'}">
                <router-link :to="'/news/list'"><el-button icon="el-icon-back">返回</el-button></router-link>
                <el-button type="primary" icon="el-icon-upload" @click="CreateData()">提交</el-button>
            </el-card>
        </sticky>
    </div>
</template>

<script>
    import api from '@/api/news'
    export default {
        data() {
            return {
                api,
                formData: {
                },
                cates: [],
                rules: {
                    cate_id: [{ required: true, message: '请选择分类', trigger: 'change' }],
                    name: [{ required: true, message: '请输入标题', trigger: 'blur' }],
                    order_no: [{ required: true, message: '请输入排序号', trigger: 'blur' }],
                    image: [{ required: true, message: '请输入上传封面图', trigger: 'change' }]
                }
            }
        },
        mounted() {
            this.formData['{$data.pk}'] = this.$route.query['{$data.pk}']
            this.fetchData()
        },
        methods: {
            CreateData() {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        api.SaveData(this.formData).then((response) => {
                            this.$notify({ title: '成功', message: response.message, type: 'success', duration: 2000 })
                            this.$router.push({ path: '/news/list' })
                        })
                    }
                })
            },
            fetchData() {
                api.GetDetail({ id :this.formData.id}).then(res => {
                    this.formData = res.data
                })
            },
        }
    }
</script>

<style lang="scss" scoped>
</style>
