<template>
    <div class="app-container">
        <el-descriptions title="信息" border>
{volist name="data['columns']" id="item" key="i"}
            <el-descriptions-item label="{$item.field_desc}">{{formData['{$item.field}']}}</el-descriptions-item>
{/volist}
        </el-descriptions>
        <sticky :z-index="1000" direction="bottom">
            <el-card shadow="always" :body-style="{padding:'15px','text-align':'center'}">
                <router-link :to="'/{$data.table_name}/list'"><el-button icon="el-icon-back">返回</el-button></router-link>
            </el-card>
        </sticky>
    </div>
</template>

<script>
    import commonEdit from '@/utils/commonEdit'
    import api from '@/api/{$data.table_name}'
    export default {
        mixins: [commonEdit],
        data() {
            return {
                api,
                primary_key:'{$data.pk}',
                formData:{}
            }
        },
        mounted() {
            this.fetchData()
        }
    }
</script>

<style lang="scss" scoped>
</style>
